.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/node_modules/

/package-lock.json
/src/components/vue-datetime/LICENSE
/src/components/vue-datetime/README.md
/src/components/vue-datetime/CHANGELOG.md
/src/components/vue-datetime/package-lock.json
